/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* Clear fix */
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}* html .clearfix{zoom:1}*:first-child+html .clearfix{zoom:1}

/* Foundation */
.block{display: block}
.inline-block, .clearfix{display: inline-block}
.margin-auto {margin: 0px auto}
.fleft, .menubar{float:left}
.fright, .social_media, .logo, .tabs{float:right}
a{color:black; text-decoration: none}
a:hover{text-decoration: underline}
    
    /* STRUCTURE*/
    
body {
	font-family:helvetica; 
}

.container{
	width: 100%;

}

.menubar{
	width:13%;
	height:100%;
	background-color:#252525;
	text-align: center;
	color:#fff;
	font-family: bebas neue;
	font-size: 20px;
	
}
.menubar ul{
	margin-top: 70%;
}
.menubar li{
	padding:5%;
}

/* HOMEPAGE */
.home{
	position: relative;
	width:87%;
	float:left;
}
.featured_image{
	position: relative;
	max-height:789px;
	min-height:789px;
	overflow: hidden;
}
.featured_image img{
	display:block;
	width:100%;
	min-width:1840px;
	height: auto;
	color:#fff;
}
.caption{
	display:none;
	width:410px;
	color:#fff;
	position: absolute;
	top:250px;
	left:1450px;
	font-family: din;
	font-size: 16px;
	text-transform: uppercase;
}
.caption h1{
	width:inherit;
	height:40px;
	text-indent: -9999999px;
	background-image: url("../images/ttl.png");
	background-repeat: no-repeat;
	margin-bottom: 20px;
}
.caption h2{
	font-family: bebas neue;
	font-size: 25px;
	margin-bottom: 5px;
}
.caption p{
	line-height: 20px;	
}
.caption span{
	color:#e93a3a;
	margin-top: 5px;
}

.feature_box{
	position:absolute;
	top:570px;
	left:620px;
	color:#fff;
	font-family: din;
	width:790px;
	height:400px;
	background-color:#e93a3a;
	text-align: center;
	text-transform: uppercase;
}
.feature_box h2{
	color:#fff;
	font-size: 11px;
	margin-left:540px;
}
.feature_filter li{display:inline-block;}
.feature_filter h1{
	color:#fff;
	font-size: 14px;
	margin: auto;
	margin-top: 6px;
	margin-bottom: 355px;
}
.feature_movie_slider{
	position:absolute;
	top:625px;
	left:520px;
	width:1020px;
	height:300px;
	
}
.feature_movie_slider li{
	display: inline-block;
}
.feature_movie_slider a:focus img{
	transform: scale(1.2)
}
#coming_soon{
	display:none;
}
/* searchbox */

.featured_image{
	position:relative;
}
.search { 
	z-index:3;
	position:absolute;
	top:30px;
	right:100px;
	padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('./images/search.png') no-repeat 19px 19px; 
}
input[type=text]{
	color:#bcbcbc;
}


/* slider hover_state */
#now_showing{
	position:relative;
}
.focus{
	display:none;
	z-index: 2;
	position:absolute;
	top:-30px;
	left:387px;
	width:242px;
	height:130px;
	padding-top:230px; 
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 120%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 10%,rgba(0,0,0,1) 120%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 10%,rgba(0,0,0,1) 120%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 10%,rgba(0,0,0,1) 120%);
    background: linear-gradient(top, rgba(0,0,0,0) 10%,rgba(0,0,0,1) 120%);
    background-repeat: no-repeat;

}
.i_t_s{
	margin-bottom: 20px;
	margin-left:20px;
}
#synopsis{
	display:inline-block;
	margin: 0px auto;
	width:17px;
	height:32px;
	text-indent: -999999px;
	background-image:url("../images/synopsis.png");
	background-repeat: no-repeat;
	margin-right: 50px
}
#trailer{
	display:inline-block;
	margin: 0px auto;
	width:40px;
	height:39px;
	text-indent: -999999px;
	background-image:url("../images/play.png");
	background-repeat: no-repeat;
	margin-right: 50px
}
#share{
	display:inline-block;
	margin: 0px auto;
	width:40px;
	height:39px;
	text-indent: -999999px;
	background-image:url("../images/share.png");
	background-repeat: no-repeat;
}
#buy{
	display:block;
	vertical-align: middle;
	margin-left:40px;
	
}
#buy a{
	font-size: 20px;
	color:#e93a3a;
	text-transform: uppercase;
	padding-bottom: 3px;
}
#ticket_icon{
	display:inline-block;
	width:30px;
	height:27px;
	background-image: url("../images/ticket.png");
	background-repeat: no-repeat;
	margin-right: 5px;
}

/* slider navigation */
a#previous{
	display:block;
	position:absolute;
	top:112px;
	left:-50px;
	width:24px;
	height:105px;
	text-indent: -999999px;
	background-image: url("../images/previous.png");
	background-repeat: no-repeat;
	
}
a#next{
	display:block;
	position:absolute;
	top:112px;
	right:-50px;
	width:24px;
	height:105px;
	text-indent: -999999px;
	background-image: url("../images/next.png");
	background-repeat: no-repeat;
	
}


/* moviesPAGE */
li.moviegrid{
	width:80%;
	float: right;
	line-height: 0;
	}
 
li.filter_nav{
	padding:1% 0px;
	text-align:center;
	font-family: DIN;
	color:#959595;
}

.filters li{
	display:inline;
	padding:5px 10px;
}

.movies li{
	display: inline-block;
	min-width: 368px;
	width:24%;
}
.movies img{
	min-width:100%;
	height:auto;
}


.ticket_container{
	width:1609px;
	height:100%;
	background-color:rgba(0, 0, 0, 0.9);
	float:right;
}
.ticket{
	width: 857px;
	/*background-color:#fff;*/
	height:338px;
	margin:0px auto;
	font-size: 12px;
	font-family: din;
	text-transform: uppercase
}
. ticket li{
	display:block;
}
.details{
	width: 300px;
	height: 318px;
	padding: 10px;
	font-size: 9px;
	background-color: #fff;
}
.crumbs_nav li{
	display:inline-block;
	margin-left: 8px;
}
.breadcrumbs{
	margin-bottom: 20px;
	font-family: din;
	font-size:9px;
	text-align: center;
}
li.breadcrumbs h3{
	font-size: 12px
	margin:0px auto;
	margin-bottom: 10px
}
.content{padding-top:20px;}
.date{
	width:130px;
	margin: 0 30px 0 10px;
	font-size: 12px
}
.time{
	width:120px;
	font-size: 12px
}
.day li{
	display:inline-block;
	font-family: bebas neue;
}
.num{
	font-size: 52px;
}
#mm li{
	display:block;
}
li.month{
	font-size: 24px;
}
li.year{
	font-size: 18px;
}
.time h1{
	font-size: 52px;
	font-family: bebas neue;
}
.tickets{
	margin-top: 20px;
	margin-left: 10px;
	width:295px;
}
.ticket h3{
	margin-bottom: 5px;
	font-size: 12px;
}
.ticket li{
	display:inline-block;
	
}
#tickets h4{
	font-size:10px;
	margin-bottom:5px;
}
li .number{
	border:2px solid #f28989;
	border-right: 1px solid #f28989;
	padding:5px;
	float:left;
	text-align:center;
}
.number h1{
	font-family:bebas neue;
	font-size:52px;
}
li .costing{
	border:2px solid #f28989;
	border-left: 1px solid #f28989;
	padding:5px;
	float:left;
}
.ticket_nav{
	float:right;
	margin:20px 0px 10px 0px;
}
.costing table{
	margin-left: 10px;
}
.costing td{
	padding:4.08px;
	text-align:left;
}
td .first{
	font-size:14px;
}
td .second{
	text-align:right;
}
td:nth-child(2){
	text-align:right;
	padding-left: 10px;
}
.first{
	font-size: 14px;
}
.second_total{
	font-size: 18px;
	text-align:right;
}
.ticket_nav li{
	display:inline;
	margin-right:10px;
}


.stub{
	background-color: #fff;
	width:390px;
	height:180px;
	padding:148px 40px 10px 107px;
	font-size: 10px;
}
.stub h3{
	font-family: bebas neue;
}
.stub h4{margin-bottom: 5px;}
.stub li{
	display:inline-block;
}
.stub_movie,.stub_cinema{
	width:173px;
	margin-bottom: 10px;
	margin-right:40px;

}
.stub_movie h3,.stub_cinema h3{
	font-size: 20px;
}
.stub_cinema{
	margin-right:0px;
}
.stub_theatre,.stub_time,.stub_date{
	width:100px;
	margin-bottom: 10px;
	margin-right:20px;
}
.stub_theatre h3,.stub_time h3,.stub_date h3{
		font-size: 34px;
}
.stub_date{
	margin-right:0px;
}
.stub_tickets,.stub_seat{
	width:68px;
	margin-right:6px;
}
.stub_seat{width:82px;margin-right:25px;}
.stub_tickets h3,.stub_seat h3{
	font-size: 36px;
	padding: 5px;
	background-color: #e93a3a;
	color:#fff;
}
.stub_tickets h3{padding-left: 28px;}
.stub_price{
	width:145px;
}
.stub_price h3{
	font-size:34px;
}

/* ticket2 */
.seats_content{
	margin-left: 10px;
}
.key{
	margin-bottom:30px;
	margin-left: 35px;
}
.key li{
	margin-right: 30px;
}
.key li:last child{
	margin-right: 0px;
}

.seat_chart li{
	display:block;
}
.seat_chart a{
	display:block;
	width:18px;
	height:18px;
	background-color: #808083;
	margin-right: 5px;
	margin-bottom: 5px;	
}
a.booked{
	background-color: #e93a3a;
}
.seat_chart a:hover,.seat_chart a:focus{
	background-color: #23b065;
}
.seat_chart td{
	vertical-align: middle;
	text-align: center;
}
td:nth-child(2){}
.seat_chart img{
	margin-bottom: 20px;
}
.seat_chart table{
	margin-left: 18px;
}

/* ticket3.01 */
.payment_content{
	font-size: 11px;
	margin-top: 20px;
	margin-left: 10px;
}
.status{margin-bottom: 20px}
.status input{
	margin:0px 8px 10px 0px;
}
#user{
	margin-bottom: 0px;
}
.contact_info{margin:30px 0px 20px 0px;}
.contact_info li{display: inline-block;}
.contact_info input{
	display:block;
	margin: 5px 10px 0px 0px;
	width:110px;
	height:28px;
	border: 1px solid #999;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;

}
.contact_info input:focus {
border: 1px solid #09C;
}
#email{width:155px;} 

/* ticket3.02 */
.sign_in_content{
	width:300px;
	margin-top: 20px;
	margin-left: 10px;
}
.sign_in{margin:10px 0px 20px 20px;}
.sign_in input{
	display:block;
	margin: 5px 10px 0px 0px;
	width:170px;
	height:28px;
	border: 1px solid #999;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;

}
.sign_in input:focus {
border: 1px solid #09C;
}
#mail{
	margin-bottom: 20px;
}
#password{
	margin-bottom: 5px
}
.password a{
	margin-left: 84px
}

/* ticket3.1 */
.payment_details{
	margin:20px 0px 0px 10px
}
#notice{
	color:#e93a3a;
	font-size: 10px;
	text-transform: lowercase;
	margin-bottom: 15px;
}
.amount li, .reason li, .receiver li{
	display: inline-block;
	vertical-align: middle;
	width:135px;
	margin-bottom: 10px
}
#txt{
	font-size: 11px; 
}
#txt span{
	font-size: 9px;
}
li#amount, li#reason, li#receiver{
	font-family: bebas neue;
	font-size: 18px;
	padding:10px 0px 10px 0px;
	background-color: #fbd8d8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#amount p{
	margin-left: 28px;
}
#reason p{
	margin-left: 40px;
}
#receiver p{
	margin-left: 26px;
}

/* ticket3.2 */
.confirmation_content{
	width:300px;
	margin-top: 20px;
	margin-left: 10px;
}
#notice span{margin-top: 5px;}
.confirmation_content img{
	margin:0px 0px 10px 80px;
}
.confirmation_content h1{
	font-size: 14px;
	color:#77b05f;
	margin-bottom: 5px;
	margin-left:60px;
}
.confirmation_content h2{
	font-size: 10px;
	margin-left: 24px;
}
#success{
	font-size: 12px;
	color:#77b05f;
}

/* showtimes */
#showtimes{
	position:relative;
	margin: 50px 0px 0px 50px;
	font-family: din;
	font-size: 11px;
	color:#fff;
}
#showtimes li{
	display: inline-block;
	width:38px;
	height:auto;
	margin-left: 0px;
	
	
}
#showtimes a{
	display:inline-block;
	background-color: #464646;
	width:30px;
	height:auto;
	padding: 10px 5px;
	color:white;
	border-left:1px solid #1c242a;
	
}
#showtimes > li:nth-child(5) > a:nth-child(1){border-right:1px solid #1c242a;}	

#showtimes a:hover, #showtimes a:focus{
	background-color: #e93a3a;
	text-decoration: none;
	border-left:1px solid #e93a3a;
}
#showtimes img{
	position:absolute;
	top:-13px;
	left: 170px;
}


/* movie hover state */
.hover{
	width:400px;
	height: 275px;
	background-color: rgba(0,0,0,0.8);
	padding:30px;
}
.movie_nav{
	font-family: din;
	font-size: 14px;
	margin: auto;
	
}
.movie_nav li{
	display:inline-block;
}
.movie_nav a{
	display:inline-block;
	width:60px;
	height: auto;
	margin-right:20px;
	color:#fff;
	text-align: center;
}
